{% load static %}
<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4" data-aos="zoom-in" id="contactus">
				<img src="{% static 'img/logo.png' %}">
				<hr class="light">
				<a href="#">9849158555</a><br /><br />
				<a href="#">sujangyawali2010@gmail.com</a><br /><br />
				<p>Swathi, Bankatti</p>
				<p>Sunwal-5 Nawalparasi</p>
			</div>
			<div class="col-md-4" data-aos="zoom-in">
				<hr class="light">
				<p>Our Hours</p>
				<hr class="light">
				<p>Sunday to Friday</p>
				<p>From 10 A.M- 5 P.M</p>
				<p>Saturday: closed</p>
			</div>
			<div class="col-md-4" data-aos="zoom-in">
				<hr class="light">
				<p>Service Area</p>
				<hr class="light">
				<p>Kathmandu</p>
				<p>Pokhara</p>
				<p>Butwal</p>
			</div>
			<div class="col-12">
				<hr class="light-100">
				<h5>Terms & conditions|NepCare Foundation &copy; 2020 All Rights Reserved.|Privacy Policy</h5>
			</div>
		</div>
	</div>
</footer>