{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fundraise for cause with YWC</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="{% static 'css/final.css' %}" rel="stylesheet">
	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> <!-- Implementing AOS(Animate on Scroll) in Cards without jQuery -->
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <a id="top"><p id="arrow"></p></a>
	<!-- Navbar -->
	{%include 'partials/_navbar.html'%}
	<!-- Main Content -->
	{% block content %}
	<a id="top"><p id="arrow"></p></a>
	{% endblock %}
	<!--Footer-->
	{%include 'partials/_footer.html'%}
	<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
	<script src="{% static 'js/final.js' %}"></script>
</body>
</html>

